@charset "UTF-8";

/*----------------------------------------------------------------------- reset ---------------------------------------------------------- */
body
{
	margin: 0px;
}

ul
{
	margin: 0px;
	padding: 0px;
}

li
{
	list-style-type: none;
}

a
{
	text-decoration: none;
	color: #000;
}

h1
{
	margin: 0px;
	padding: 0px;
}

h2
{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 14px; 
}

input
{
	margin: 0px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px #d9cdc1 solid;
}

textarea
{
	border: 1px #d9cdc1 solid;
	resize: none;
}

::-webkit-input-placeholder { /* 크롬 4–56 */
    color: #d9cdc1;
}
:-moz-placeholder { /* 파이어폭스 4–18 */
   color: #d9cdc1;
   opacity:  1;
}
::-moz-placeholder { /* 파이어폭스 19–50 */
   color: #d9cdc1;
   opacity:  1;
}
:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
   color:  #d9cdc1;
}
::placeholder /* 파이어폭스 51+, 크롬 57+ */
{
   color: #d9cdc1;
   opacity:  1;
}

/*----------------------------------------------------------------------- header---------------------------------------------------------- */
.icon-bar
{
	width: 100%;
	display: flex;
}

.icon-bar > li,
.icon-bar > li > span,
.icon-bar > li > a
{
	width:45px;
	height:45px;
	display:flex;
	justify-content: center;
	align-items: center;
}

	.icon-bar > li img
	{
		width: 30px;
		height: 30px;
	}
/* -------------------------abstraction------------------------- */
.header
{
	z-index: 900;
	width: 100%;
	height: 45px;
	position: fixed;
}
	.hor-menu
	{
		display: flex;
		top:-45px;
		position: relative;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

.title
{
	width: calc(100% - 90px);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	line-height: 45px;
	overflow: hidden;
	margin: 0px auto;
	padding-left: 2.5%;
}
/*---------------------------common-header--------------------*/

	.common-header
	{
		background: #fff;
		border-bottom: 2px #b49b83 solid;
	}

		.common-header > h1
		{
			color: #fff;
		}
		
		.common-header .main-menu
		{
		}
	
			.common-header .main-menu ul
			{
				justify-content: space-between;
			}

	.visual
	{
		position: relative;
		width: 100%;
		max-width: 900px;
		margin: 0px auto;
		display: flex;
		align-items: center;
		top: 45px;
		height: 80px;
		background: url('../images/visual.png') no-repeat center;
		background-size: cover;
		border-bottom: 2px #b49b83 solid;
		overflow: hidden;	
	}
	
		.visual .currentPath
		{
			padding-left: 5%;
			font: bold 25px Arial, sans-serif;
			color: #fff;
			text-shadow: -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333, 0 -2px 0 #333333, 0 2px 0 #333333, -2px 0 0 #333333, 2px 0 0 #333333;
			white-space: nowrap;
		}

		
/*---------------------user-header---------------------------*/
.user-header
{
	width: 100%;
	height: 145px;
	background: #d9cdc1;
}

	.user-header div
	{
		width: inherit;
		height: inherit;
		display: flex;
		justify-content: center;
	}
	
		.user-header div a
		{
			align-self: center;	
		}

			.user-header div a img 
			{
				width: 45px;
				height: 55px;
			}
/*---------------------------note-detail-header--------------------*/
.note-detail-header
{
	background: #b49b83;
}

	.note-detail-menu ul
	{
		justify-content: flex-end;
	}
	
		.note-detail-menu > ul > li:first-child
		{
			position: absolute;
			right: 0px;
			top: 0px;
		}
		
		.note-detail-menu > ul #more-button+ul	{
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 46px;
			right: 2px;
			font-weight: bold;
			font-size: 14px;
		}
			.note-detail-menu > ul #more-button+ul li {
				border: 1px  #d9cdc1 solid;
				background: #fff;
			}
		
			.note-detail-menu > ul #more-button+ul li,
			.note-detail-menu > ul #more-button+ul li a {
				height: 45px;
				width: 100px;
			}
				.note-detail-menu > ul #more-button+ul li a {
					display: inline-block;
					text-align: center;
					line-height: 45px;
					color: #b49b83;
				}
				
			
/*---------------------------note-reg-header--------------------*/		
.note-reg-header
{
	background-color: #b49b83;
}
	
	.note-reg-header .note-reg-menu
	{

	}	
		.note-reg-menu ul
		{
			justify-content: space-between;
		}				

	.header .write-style-toolbar
	{
		z-index: 900;
		width: 100%;
		max-width: 900px;
		height: 45px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		position: relative;
		top: -45px;
		border-bottom: 1px #d9cdc1 solid;
	}
		
		.write-style-toolbar > ul
		{
			justify-content: space-around;
		}
/*----------------------------------------------------------------------- aside ---------------------------------------------------------- */
.aside
{
	z-index: 1000;
	position:fixed;
	width: 65%;
	height: 100%;
	background-color: #fff;
 	transition: 500ms;
	left: -65%;
}

.aside.show
{
	left: 0%;
}
	
	.aside span
	{
		padding-left: 10px;
	}

	.aside > div
	{
		width: 100%;
		height: 45px;
		background-color: #fff;
		border-bottom: 2px #b49b83 solid;
		display: flex;
		justify-content: flex-end;
	}
	
		.aside > div img
		{
			height: 45px;
			width: 45px;
		}

		.aside ul li a
		{
			height: 65px;
			width: 100%;
			display: flex;
			border-bottom: 1px #d9cdc1 dashed; 
			justify-content: flex-start;
			align-items: center;
		}
			.aside ul li a img
			{
				margin-left: 15px;
				height: 25px;
				width: 25px;
			}
			
			.aside ul li a span
			{
				color: #b49b83;
				font-weight: bold;
			}
					
.aside-bg
{
	z-index: 950;
	display: none;
	position:fixed;
	width: 100%;
	height: 100%;
	background-color: #979797;
	opacity: 0.5;
}

.aside-bg.show
{
	display: block;
}
/*----------------------------------------------------------------------- footer ---------------------------------------------------------- */


.footer
{
	width: 100%;
	font-size: 13px;
	font-weight: bold;
}
	.footer .footer-menu
	{
		padding-top: 15px;
	}
		.footer .footer-menu ul
		{
			width: 70%;
			display: flex;
			justify-content: space-around;
			margin-left: auto;
			margin-right: auto;
		}
	
	.footer div
	{	
		margin-top: 15px;
		text-align: center;
	}

/*---------------------------common-footer--------------------*/
.common-footer
{
	height: 80px;
	color: #b49b83;
	background: #fff;
	border-top: 2px #b49b83 solid; 
}

	.common-footer .footer-menu a
	{
		color: #b49b83;
	}

/*---------------------------user-footer--------------------*/
.user-footer
{
	height: 125px;
	color: #b49b83;
	background: #d9cdc1;
}

	.user-footer .footer-menu a
	{
		color: #b49b83;
	}