@charset "UTF-8";

.footer
{
	background: #000;
	width: 100%;
	height: 80px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
	.footer .footer-menu
	{
		padding-top: 5px;
	}
		.footer .footer-menu ul
		{
			width: 70%;
			display: flex;
			justify-content: space-around;
			margin-left: auto;
			margin-right: auto;
		}
		
		.footer .footer-menu a
		{
			color: #fff;
		}
		
		
	.footer div
	{	
		margin-top: 15px;
		text-align: center;
	}
	