@charset "UTF-8";

.footer
{
	width: 100%;
	font-size: 13px;
	font-weight: bold;
}
	.footer .footer-menu
	{
		padding-top: 15px;
	}
		.footer .footer-menu ul
		{
			width: 70%;
			display: flex;
			justify-content: space-around;
			margin-left: auto;
			margin-right: auto;
		}
	
	.footer div
	{	
		margin-top: 15px;
		text-align: center;
	}

/*---------------------------common-footer--------------------*/
.common-footer
{
	height: 80px;
	color: #fff;
	background: #fff;
	border-top: 2px #B49B83 solid; 
}

	.common-footer .footer-menu a
	{
		color: #B49B83;
	}

/*---------------------------user-footer--------------------*/
.user-footer
{
	height: 110px;
	color: #000;
	background: #d9cdc1;
}

	.user-footer .footer-menu a
	{
		color: #000;
	}