@charset "UTF-8";

.header
{
	z-index: 10;
	width: 100%;
	height: 45px;
	position: fixed;
	background: #000;
}

	.main-menu
	{
		width: inherit;
		height: inherit;
	}
	
		.main-menu ul
		{
			display: flex;
			justify-content: space-between;
		}
	
			.main-menu li,
			.main-menu a
			{
				width:45px;
				height:45px;
				display:flex;
				justify-content: center;
				align-items: center;
			}
			
				.main-menu li a img
				{
					width: 40px;
					height: 40px;
				}
	
	.current-context
	{
		width: 100%;
		height: 30px;
		display: flex;
		background-color: #0097A7;
		border-bottom: 1px #000 solid;
	}
	
		.current-context span
		{
			align-self: center;
			padding-left: 10px;
			font-size: 20px;
			font-weight: bold;
			color: #fff;
			line-height:30px;
		}
	
