@charset "UTF-8";

body
{
	margin: 0px;
}

ul
{
	margin: 0px;
	padding: 0px;
}

li
{
	list-style-type: none;
}

a
{
	text-decoration: none;
	color: #000;
}

h1
{
	margin: 0px;
	padding: 0px;
}

input
{
	margin: 0px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px #d9cdc1 solid;
}

textarea
{
	border: 1px #d9cdc1 solid;
	resize: none;
}

::-webkit-input-placeholder { /* 크롬 4–56 */
    color: #d9cdc1;
}
:-moz-placeholder { /* 파이어폭스 4–18 */
   color: #d9cdc1;
   opacity:  1;
}
::-moz-placeholder { /* 파이어폭스 19–50 */
   color: #d9cdc1;
   opacity:  1;
}
:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
   color:  #d9cdc1;
}
::placeholder /* 파이어폭스 51+, 크롬 57+ */
{
   color: #d9cdc1;
   opacity:  1;
}