@charset "UTF-8";

.main
{
	width: 100%;
	max-width: 900px;
	min-height: 420px;
	background: #fff;
	padding-top: 45px;
	margin-left: auto;
	margin-right: auto;
}

	.root-container
	{
		width: inherit;
		min-height: inherit;
		padding: 10px 0px;
		font-family: '맑은 고딕', '나눔 고딕', sans-serif;
	}

.hidden
{
	display: none;
}

.list-empty
{
	width: 100%;
	text-align: center;
}

	.list-empty > span
	{
		margin-top: 55px;
		display: inline-block;
		color: #b49b83;
		font-size: 14px;
	}
/*--------------------------------- note-list------------------------------------- */
.note-list
	{
	}
	
		.note-list .list-empty
		{
			height: 380px;
		}
	
		.note-list ul
		{
			display: flex;
			justify-content: space-arround;
			align-content: flex-start;
			flex-wrap: wrap;
			font-weight: bold;
		}
		
			.note-list ul li
			{
				box-sizing: border-box;
				border: 1px #d9cdc1 solid;
				background-color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: center;
 				width: 160px;
				margin: 10px auto;
			}
				.note-list ul li a img,
				.note-list ul li div
				{
					width: 100%;
				}
				
				.note-list ul li a img
				{
					display: flex;
					align-self: center;
				}
				
				.note-list ul li div
				{
					display: flex;
					height: 25px;
					align-items: center;
				}	
				
				.note-list ul li a img
				{
					height: 90px;
				}
				
				.note-list ul li a+div
				{	
					background-color: /* rgba(188, 155, 131, 0.5); */#B49B83;
					display: flex;
					justify-content: flex-end;
					height: 25px;
					color: #fff;
					font-weight: bold;
					font-size: 13px;
					line-height: 15px;
				}
				
					.note-list ul li a+div img
					{
						width: 15px;
						height: 15px;
						margin-left: 5px;
					}
					
					.note-list ul li a+div span
					{
						margin-bottom: 3px;
					}
					
					.note-list ul li a+div span:last-child
					{
						margin-right: 3px;
					}
				
				.note-list ul li div:nth-of-type(2)
				{
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				
					.note-list ul li div:nth-of-type(2) > a
					{	
						margin-left: 5px;
						overflow: hidden;
						text-overflow: ellipsis;	
						white-space: nowrap;
					}
					
				.note-list ul li div:last-child
				{
					white-space: nowrap;
					overflow: hidden;
				}
				
					.note-list ul li div:last-child a
					{
						padding: 0px 3px;
						margin: 0px 2px;
						color: #B49B83;
						font-size: 13px;
					}
					
					.note-list ul li div:last-child > span
					{
						margin: 0px auto;
						color: #d9cdc1;
						font-size: 13px;
					}
					
	.top-anchor,
	.top-anchor > a
	{	
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #d9cdc1;
		width: 100%;
		height: 40px;
	}
		
		.top-anchor > a > img
		{
			height: 30px;
			width: 30px;
		}	

/*-----------------------------/tag/------------------------------*/

.tag-list
{
	min-height: 180px;
}

	.tag-list .list-empty
	{
		height: 180px;
	}
	
	.tag-all .list-empty
	{
		height: 340px;
	}

.tag-list,
.tag-none,
.tag-search
{
	width: 95%;
	margin: 0px auto;
	border-bottom: 1px #d9cdc1 dashed;
}

	.tag-none h1,
	.tag-list h1,
	.tag-search h1
	{
		color: #000;
		font-size: 16px; 
		position: relative;
	}
	
	.tag-list h1,
	.tag-list ul,
	.tag-search h1,
	.tag-search form
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}

		.tag-list h1,
		.tag-search h1
		{
			margin-top: 5px;
			height: 30px;
			border-bottom: 2px #b49b83 solid;
		}
			.tag-list h1 span,
			.tag-search h1 span
			{
				margin-left: 5px;
			}
			.tag-list h1 a
			{
				font-size: 14px;
				font-weight: bold;
				padding: 3px 3px;
				position: absolute;
				right: 5px;
				color: #b49b83;
			}

	.tag-list ul
	{	
		flex-wrap: wrap;
		padding: 10px 0px 15px 0px;
	}
	
		.tag-list ul li
		{
			background-color: #d9cdc1;
			font-weight: bold;
			margin: 4px 5px;
		}
			
			.tag-list ul li,
			.tag-list ul li > a
			{
				display: flex;
				min-width: 40px;
				padding: 0px 2.5px;
				max-width: 200px;
				height: 25px;
				justify-content: center;
				align-items: center;
				font-size: 14px;
				color: #fff;
			}
			
				.tag-list ul li > a > span:last-child
				{
					font-size: 10px;
				}
			
.tag-none {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}
	.tag-none h1 a
	{
		color: #979797;
	}
		.tag-none h1 > a > span 
		{
			font-size: 12px;
		}

.tag-search
{
	justify-content: center;
}

	.tag-search form
	{
		padding: 20px 0px;
		justify-content: center;
	}
	
	.tag-search form input[type='text']
	{
		width: calc(100% - 80px);
		height: 30px;
	}
	
	.tag-search form input[type='submit']
	{
		background-color: #b49b83;
		color: #fff;
		font-weight: bold;
		width: 80px;
	}
	
	
/*--------------------------------- preset------------------------------------- */

.tag-preset-list
{
	font-weight: bold;
}	

	.tag-preset-list > ul
	{
		width: 95%;
		min-height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
		.tag-preset-list > ul > li
		{
			width: 100%;
			margin-top: 10px;
			border-bottom: 1px #d9cdc1 dashed;
		}
		
		.tag-preset-list > ul > li > a:first-child
		{
			box-sizing: border-box;
			display: flex;
			align-items: center;
			width: 100%;
			height: 30px;
			border-bottom: 2px #b49b83 solid;
		}
			.tag-preset-list > ul > li > a > img
			{
				width: 15px;
				height: 15px;	
			}
		
			.tag-preset-list > ul > li > ul
			{
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				min-height: 25px;
				padding-bottom: 5px;
			}
			
			.tag-preset-list > ul > li > ul > li
			{
				margin: 5px 2.5px;
			}
			
			.tag-preset-list > ul > li > ul > li > a
			{
				display: inline-block;
				min-width: 30px;
				height: 20px;
				padding: 2px 5px;
				background-color: #d9cdc1;
				color: #fff;
				font-size: 14px;
				line-height: 20px;
			}
/*--------------------------------- search------------------------------------- */

	.search-input
	{
		width: 95%;
		min-height: 130px;
		margin: 0px auto;
	}
	
		.search-input h1
		{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			margin-top: 5px;
			height: 30px;
			border-bottom: 2px #b49b83 solid;
			color: #000;
			font-size: 16px; 
			line-height: 30px;
		}

			.search-input h1 > img
			{
				width: 18px;
				height: 18px;	
			}
					
			.search-input form
			{
				display: flex;
				justify-content: center;
			}
			
			.search-title form
			{
				padding-top: 40px;
			}
			
			.search-tag form
			{
				padding: 20px 0px;
			}
				.search-input form input[type='text']
				{
					width: calc(100% - 80px);
					height: 30px;
				}
				
				.search-input form input[type='submit']
				{
					box-sizing: border-box;
					background-color: #b49b83;
					color: #fff;
					font-weight: bold;
					width: 80px;
				}

				
		.search-tag .tag-add-list
		{
		}	
		
		.search-tag .tag-add-list > div:first-child
		{
			padding: 40px 0px;
			display: flex;
			align-items: center;
			border-bottom: 1px #d9cdc1 dashed;
		}
		
			.search-tag .tag-add-list > div:first-child > input[type='text']
			{
				width: calc(100% - 30px);
				height: 30px;
				margin-left: auto;
			}
			
				.search-tag .tag-add-list > div:first-child > a
				{
					display: inline-block;
					height: 30px;
					width: 30px;
					background: url('../images/member/note/ic_add_box_black_24dp.png') no-repeat center;
				}
		
		.search-tag .tag-add-list > div:last-child
		{
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding-top: 10px;
		}
			
		.search-tag .tag-add-list > div:last-child > ul
		{
			width: 100%;
			height: 70px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
			.search-tag .tag-add-list > div:last-child > ul > li 
			{
				margin-left: 5px;
				margin-bottom: 5px;
			}
		
			.search-tag .tag-add-list > div:last-child > ul > li > span
			{
				min-width: 20px;
				text-align: center;
				padding: 2px 5px;
				display: inline-block;
				border: none;
				box-sizing: border-box;
				color: #b49b83;
				font-weight: bold;
				text-decoration: underline;
			}
			
				.search-tag .tag-add-list > div:last-child > ul > li > span:hover
				{
					cursor: pointer;
				}