@charset "UTF-8";

.main {
	width: 100%;
	max-width: 900px;
	min-height: 420px;
	background: #fff;
	padding-top: 45px;
	margin-left: auto;
	margin-right: auto;
}

	.root-container	{
		width: inherit;
		min-height: inherit;
		padding: 10px 0px;
		font-family: '맑은 고딕', '나눔 고딕', sans-serif;
	}

.hidden {
	display: none;
}

.list-empty {
	width: 100%;
	text-align: center;
}

	.list-empty > span {
		margin-top: 55px;
		display: inline-block;
		color: #b49b83;
		font-size: 14px;
	}
	
	.reg-button a {
		position: fixed;
		right: 30px;
		bottom: 50px;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		opacity: 0.7;
		text-indent: -9999px;
	}
/*--------------------------------- note-list------------------------------------- */
.note-list	{ }
	
		.note-list .list-empty {
			height: 380px;
		}
	
		.note-list ul {
			display: flex;
			justify-content: space-arround;
			align-content: flex-start;
			flex-wrap: wrap;
			font-weight: bold;
		}
		
			.note-list ul li {
				box-sizing: border-box;
				border: 1px #d9cdc1 solid;
				background-color: #fff;
				display: flex;
				flex-direction: column;
				justify-content: center;
 				width: 160px;
				margin: 10px auto;
			}
				.note-list ul li a img,
				.note-list ul li div {
					width: 100%;
				}
				
				.note-list ul li a img {
					display: flex;
					align-self: center;
				}
				
				.note-list ul li div {
					display: flex;
					height: 25px;
					align-items: center;
				}	
				
				.note-list ul li a img {
					height: 90px;
				}
				
				.note-list ul li a+div {	
					background-color: /* rgba(188, 155, 131, 0.5); */#B49B83;
					display: flex;
					justify-content: flex-end;
					height: 25px;
					color: #fff;
					font-weight: bold;
					font-size: 13px;
					line-height: 15px;
				}
				
					.note-list ul li a+div img	{
						width: 15px;
						height: 15px;
						margin-left: 5px;
					}
					
					.note-list ul li a+div span {
						margin-bottom: 3px;
					}
					
					.note-list ul li a+div span:last-child {
						margin-right: 3px;
					}
				
				.note-list ul li div:nth-of-type(2) {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				
					.note-list ul li div:nth-of-type(2) > a {	
						margin-left: 5px;
						overflow: hidden;
						text-overflow: ellipsis;	
						white-space: nowrap;
					}
					
				.note-list ul li div:last-child {
					white-space: nowrap;
					overflow: hidden;
				}
				
					.note-list ul li div:last-child a {
						padding: 0px 3px;
						margin: 0px 2px;
						color: #B49B83;
						font-size: 13px;
					}
					
					.note-list ul li div:last-child > span {
						margin: 0px auto;
						color: #d9cdc1;
						font-size: 13px;
					}
					
	.top-anchor,
	.top-anchor > a {	
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #d9cdc1;
		width: 100%;
		height: 40px;
	}
		
		.top-anchor > a > img {
			height: 30px;
			width: 30px;
		}	

/*-----------------------------/tag/------------------------------*/

.tag-list {
	min-height: 180px;
}

	.tag-list .list-empty {
		height: 180px;
	}
	
	.tag-all .list-empty {
		height: 340px;
	}

.tag-list,
.tag-none,
.tag-search {
	width: 95%;
	margin: 0px auto;
	border-bottom: 1px #d9cdc1 dashed;
}

	.tag-none h1,
	.tag-list h1,
	.tag-search h1 {
		color: #000;
		font-size: 16px; 
		position: relative;
	}
	
	.tag-list h1,
	.tag-list ul,
	.tag-search h1,
	.tag-search form {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}

		.tag-list h1,
		.tag-search h1 {
			margin-top: 5px;
			height: 30px;
			border-bottom: 2px #b49b83 solid;
		}
			.tag-list h1 span,
			.tag-search h1 span {
				margin-left: 5px;
			}
			.tag-list h1 a {
				font-size: 14px;
				font-weight: bold;
				padding: 3px 3px;
				position: absolute;
				right: 5px;
				color: #b49b83;
			}

	.tag-list ul {	
		flex-wrap: wrap;
		padding: 10px 0px 15px 0px;
	}
	
		.tag-list ul li	{
			background-color: #d9cdc1;
			font-weight: bold;
			margin: 4px 5px;
		}
			
			.tag-list ul li,
			.tag-list ul li > a {
				display: flex;
				min-width: 40px;
				padding: 0px 2.5px;
				max-width: 200px;
				height: 25px;
				justify-content: center;
				align-items: center;
				font-size: 14px;
				color: #fff;
			}
			
				.tag-list ul li > a > span:last-child	{
					font-size: 10px;
				}
			
.tag-none {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}
	.tag-none h1 a	{
		color: #979797;
	}
		.tag-none h1 > a > span {
			font-size: 12px;
		}

.tag-search {
	justify-content: center;
}

	.tag-search form {
		padding: 20px 0px;
		justify-content: center;
	}
	
	.tag-search form input[type='text'] {
		width: calc(100% - 80px);
		height: 30px;
	}
	
	.tag-search form input[type='submit'] {
		background-color: #b49b83;
		color: #fff;
		font-weight: bold;
		width: 80px;
	}
/*--------------------------------- preset------------------------------------- */

.tag-preset-list {
	font-weight: bold;
}	

	.tag-preset-list > ul {
		width: 95%;
		min-height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
		.tag-preset-list > ul > li {
			width: 100%;
			margin-top: 10px;
			border-bottom: 1px #d9cdc1 dashed;
		}
		
		.tag-preset-list > ul > li > a:first-child {
			box-sizing: border-box;
			display: flex;
			align-items: center;
			width: 100%;
			height: 30px;
			border-bottom: 2px #b49b83 solid;
		}
		
			.tag-preset-list > ul > li > a > img {
				width: 15px;
				height: 15px;	
			}
		
			.tag-preset-list > ul > li > ul {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				min-height: 25px;
				padding-bottom: 5px;
			}
			
			.tag-preset-list > ul > li > ul > li {
				margin: 5px 2.5px;
			}
			
			.tag-preset-list > ul > li > ul > li > a {
				display: inline-block;
				min-width: 30px;
				height: 20px;
				padding: 2px 5px;
				background-color: #d9cdc1;
				color: #fff;
				font-size: 14px;
				line-height: 20px;
			}
/*--------------------------------- search------------------------------------- */

	.search-input {
		width: 95%;
		min-height: 130px;
		margin: 0px auto;
	}
	
		.search-input h1 {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			margin-top: 5px;
			height: 30px;
			border-bottom: 2px #b49b83 solid;
			color: #000;
			font-size: 16px; 
			line-height: 30px;
		}

			.search-input h1 > img {
				width: 18px;
				height: 18px;	
			}
					
			.search-input form {
				display: flex;
				justify-content: center;
			}
			
			.search-title form {
				padding-top: 40px;
			}
			
			.search-tag form {
				padding: 20px 0px;
			}
				.search-input form input[type='text']	{
					width: calc(100% - 80px);
					height: 30px;
				}
				
				.search-input form input[type='submit'] {
					box-sizing: border-box;
					background-color: #b49b83;
					color: #fff;
					font-weight: bold;
					width: 80px;
				}

		.search-tag .tag-add-list { }	
		
		.search-tag .tag-add-list > div:first-child	{
			padding: 40px 0px;
			display: flex;
			align-items: center;
			border-bottom: 1px #d9cdc1 dashed;
		}
		
			.search-tag .tag-add-list > div:first-child > input[type='text'] {
				width: calc(100% - 30px);
				height: 30px;
				margin-left: auto;
			}
			
				.search-tag .tag-add-list > div:first-child > a {
					display: inline-block;
					height: 30px;
					width: 30px;
					background: url('../images/member/note/ic_add_box_black_24dp.png') no-repeat center;
				}
		
		.search-tag .tag-add-list > div:last-child {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding-top: 10px;
		}
			
		.search-tag .tag-add-list > div:last-child > ul {
			width: 100%;
			height: 70px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
			.search-tag .tag-add-list > div:last-child > ul > li {
				margin-left: 5px;
				margin-bottom: 5px;
			}
		
			.search-tag .tag-add-list > div:last-child > ul > li > span {
				min-width: 20px;
				text-align: center;
				padding: 2px 5px;
				display: inline-block;
				border: none;
				box-sizing: border-box;
				color: #b49b83;
				font-weight: bold;
				text-decoration: underline;
			}
			
				.search-tag .tag-add-list > div:last-child > ul > li > span:hover {
					cursor: pointer;
				}

.preset-reg-button a {
	background: #b49b83 url('../images/baseline_add_white_18dp.png') no-repeat center;
}
/*--------------------------------- note-comment------------------------------------- */
.comment-input {
	border-bottom: 1px #d9cdc1 dashed; 
}

.comment-input,
.comment-list {
	width: 95%;
	margin: 0px auto;
}	
	
	.comment-input > h1,
	.comment-list > h1 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		margin-top: 5px;
		height: 30px;
		border-bottom: 2px #b49b83 solid;
		color: #000;
		font-size: 16px; 
		line-height: 30px;
	}
	
		.comment-input > form	{
			padding: 20px 0px;
			width: 100%;
			display: flex;
		}
			.comment-input form textarea	{
				box-sizing: border-box;
				padding: 5px;
				width: calc(100% - 60px);
				height: 70px;
			}
			
			.comment-input form input[type='submit']
			{
				width: 60px;
				height: 70px;
				background-color: #b49b83;
				color: #fff;
				font-weight: bold;
			}
		
		.comment-list > ul {
			width: 100%;
			padding: 10px 0px;
		}
		
			.comment-list > ul >li {
				padding-top: 20px;
			}
			
				.comment-list > ul > li > table {
					width: 100%;
					min-height: 30px;
					border: 1px  #b49b83 solid;
					margin: 10px auto;
					position: relative;
				}
				
					.comment-list > ul > li > table tr,
					.comment-list > ul > li > table tr td {
						display: flex;
					}
							
					.comment-list > ul > li > table .profile-image {
						position: absolute;
						margin-top: -35px;
					}
					
						.comment-list > ul > li > table .profile-image img {
							height: 60px;
							width: 60px;
							border-radius: 30px;
							border: 2px #b49b83 solid;
						}
					.comment-list > ul > li > table tr:nth-child(2) {
						height: 30px;
					}
					
						.comment-list > ul > li > table tr:nth-child(2) td {
							width: 100%;
							margin-left: 80px;
							justify-content: space-between;
						}
							.comment-list > ul > li > table tr:nth-child(2) td span:first-child {
								color: #b49b83;
								font-weight: bold;
							}
					
							.comment-list > ul > li > table tr:nth-child(2) td a {
								width: 24px;
								height: 24px;
							}
							
					.comment-list > ul > li > table tr:nth-child(3) {
						padding: 5px;
						border-top: 1px #b49b83 solid;
						border-bottom: 1px #d9cdc1 dashed;
					}
						.comment-list > ul > li > table tr:last-child
						{
							justify-content: flex-end;
							color: #d9cdc1;
						}
							.comment-list > ul > li > table tr:last-child td {
								margin-right: 5px;
							}
/* --------------------------------------member-info---------------------------------------- */

.info-edit
{
	width: 100%;
	height: inherit;
}

	.info-edit h1 { 
		width: 85%;
		margin: 0px auto;
		font-size: 16px;
		padding: 5px 0px;
		border-bottom: 2px #b49b83 solid;
	}

	.info-edit form {	
		width: 85%;
		margin: 0px auto;
	}
		.info-edit table {
			width: 100%;
		}
			.info-edit table tr:first-child {
				display: block;
				padding-top: 15px;
			}
			
			.info-edit table tr:nth-child(5),
			.info-edit table tr:nth-child(8)  {
				display: block;
				padding-bottom: 15px;
				border-bottom: 1px #d9cdc1 dashed;
			}
			.info-edit table tr td{
				display: flex;
			}
			.info-edit table tr td:first-child {
				flex-direction: column;
			}
				.info-edit table tr td .viewer {
					height: 120px;
					width: 120px;
					border-radius: 75px;
					border: 1px #b49b83 solid;
					margin: 0px auto;
					background: url('../images/member/info/member_profile_placeholder.png') no-repeat center;
					background-size: cover;
					overflow: hidden;
				}
					.info-edit table tr td .viewer img	{
						height: 120px;
						width: 120px;
					}
				
					.info-edit table tr td .viewer+label {
						display: inline-block;
						width: 50px;
						height: 30px;
						text-indent: -9999px;
						background: #b49b83 url('../images/member/info/baseline_add_a_photo_white_18dp.png') no-repeat center;
						border-radius: 5px;
					}
					
				.info-edit table tr td:first-child label {
					align-self: flex-start;
					font-size: 13px;
					font-weight: bold;
					color: #b49b83;
				}

					.info-edit form table input,
					.info-edit form table textarea {
						width: 100%;
						padding: 5px;
						min-height: 35px;
					}
					
					.info-edit form table textarea
					{
						box-sizing: border-box;
						min-height: 70px;
					}
					
					.info-edit form table #id {
						font-weight: bold;
						background-color: #d9cdc1;
					}
					
					.info-edit form table input[type='submit'],
					.info-edit form table a
					{
						margin: 5px 0px;
						box-sizing: border-box;
						background-color: #b49b83;
						color: #fff;
						font-size: 17px;
						font-weight: bold;
						border: none;
						width: 100%;
						text-align: center;
					}
					
					.info-edit form table tr:last-child a {
						border: 1px #b49b83 solid;
						height: 35px;
						background-color: #fff;
						color: #b49b83;
						line-height: 30px;
					}


											