<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notework.nw.dao.MemberRoleDao">

	<select id="get" resultType="com.notework.nw.entity.MemberRole">
		select * from MemberRole where memberId=#{memberId} and roleId=#{roleId} 
	</select>
	
	<insert id="insert" parameterType="com.notework.nw.entity.MemberRole">
		insert into MemberRole(memberId, roleId)
		values(#{memberId}, #{roleId})
	</insert>
	
	<delete id="delete" parameterType="com.notework.nw.entity.Member">
		delete from MemberRole where memberId=#{memberId} and roleId=#{roleId}
	</delete>
</mapper>