<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notework.nw.dao.NoteDao">
		
	<select id="getListById" resultType="com.notework.nw.entity.view.NoteView">
		select distinct id, title, content, hit, regDate, writerId from NoteView where writerId=#{writerId} order by regDate DESC
	</select>
		
	<select id="get" resultType="com.notework.nw.entity.view.NoteView">
		select * from NoteView where id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.notework.nw.entity.Note" useGeneratedKeys="true" keyProperty="id">
		insert into Note(title, content, writerId, publish)
		values(#{title}, #{content}, #{writerId}, #{publish})
	</insert>
	
	<update id="updateHit" parameterType="com.notework.nw.entity.Note">
		update Note set hit=hit+1 where id=#{id}
	</update>
	
</mapper>