<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notework.nw.dao.PresetDao">
	
	<select id="getList" parameterType="String" resultType="com.notework.nw.entity.view.PresetView">
		select distinct id, name, linkAddress from PresetView where memberId=#{memberId}
	</select>
	
	<select id="get" parameterType="Integer" resultType="com.notework.nw.entity.view.PresetView">
		select distinct id, name, memberId, linkAddress from PresetView
	</select>
	
	<insert id="insert" parameterType="com.notework.nw.entity.Preset" useGeneratedKeys="true" keyProperty="id">
		insert into Preset(name, linkAddress, memberId) values(#{name}, #{linkAddress}, #{memberId})
	</insert>

</mapper>