<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notework.nw.dao.TagDao">

	
	<select id="getListByNoteId" parameterType="Integer" resultType="com.notework.nw.entity.Tag">
		select distinct id from TagView where noteId=#{noteId}
	</select>
	
	<select id="getListByPresetId" parameterType="Integer" resultType="com.notework.nw.entity.Tag">
		select tagId as id from PresetView where id=#{id}
	</select>
	
	<select id="getListByMemberId" parameterType="String" resultType="com.notework.nw.entity.view.TagView">
		select distinct id from TagView 
		where memberId=#{memberId} and id is not null order by id asc
	</select>
	
	
	<select id="getListById" resultType="com.notework.nw.entity.view.TagView">
		select id from TagView 
		where memberId=#{memberId} and id like concat('%', #{id} ,'%') order by id asc
	</select>

	<select id="getFavListByMemberId" parameterType="String" resultType="com.notework.nw.entity.view.TagView">
		select id, count(noteId) as noteCnt from TagView 
		where memberId=#{memberId} and id is not null group by id order by count(noteId) desc, id asc
	</select>
	
	<select id="getList" resultType="com.notework.nw.entity.view.TagView">
		select * from TagView
	</select>
	
	<select id="get" resultType="com.notework.nw.entity.Tag">
		select * from Tag where id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.notework.nw.entity.Tag">
		insert into Tag(id) select #{id} from dual
		where not exists(select id from Tag where id=#{id});
	</insert>
	
	<delete id="delete" parameterType="com.notework.nw.entity.Tag">
		delete from Tag where id=#{id}
	</delete>
</mapper>