<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notework.nw.dao.TagDao">

	<select id="getList" resultType="com.notework.nw.entity.Tag">
		select * from Tag
	</select>
	
	<select id="getListByNoteId" parameterType="int" resultType="com.notework.nw.entity.Tag">
		select tagId as id from TagNoteView where noteId=#{noteId}
	</select>
	
	<select id="getListByWriterId" parameterType="String" resultType="com.notework.nw.entity.view.TagView">
		select tagId as id from TagNoteView 
		where writerId=#{writerId} and tagId is not null order by tagId asc
	</select>
	
	<select id="getListByTagId" resultType="com.notework.nw.entity.view.TagView">
		select tagId as id from TagNoteView 
		where writerId=#{writerId} and tagId like concat('%', #{tagId} ,'%') order by tagId asc
	</select>
	
	<select id="getFavListByWriterId" parameterType="String" resultType="com.notework.nw.entity.view.TagView">
		select tagId as id, count(noteId) as noteCnt from TagNoteView 
		where writerId=#{writerId} and tagId is not null group by tagId order by count(noteId) desc, tagId asc
	</select>
	<select id="get" resultType="com.notework.nw.entity.Tag">
		select * from Tag where id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.notework.nw.entity.Tag">
		insert into Tag(id) select #{id} from dual
		where not exists(select id from Tag where id=#{id});
	</insert>
	
	<delete id="delete" parameterType="com.notework.nw.entity.Tag">
		delete from Tag where id=#{id}
	</delete>
</mapper>