@charset "UTF-8";

.header
{
	width: 100%;
	height: 120px;
	background: #e9e9e9;
}

	.header div
	{
		width: inherit;
		height: inherit;
		display: flex;
		justify-content: center;
	}
	
		.header div a
		{
			align-self: center;	
		}

			.header div a img 
			{
				width: 55px;
				height: 65px;
			}