@charset "UTF-8";

.header
{
	z-index: 10;
	width: 100%;
	height: 45px;
	position: fixed;
	background-color: #0097a7;
}

	.header .note-menu
	{
		display: flex;
		width: inherit;
		height: inherit;
		position: relative;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	
		.note-menu h1
		{
			width: 100%;
			color: #fff;
			display: flex;
			align-items: center;
			font-size: 18px;
			line-height: 45px;
			overflow: hidden;
		}
		.note-menu ul
		{
			display: flex;
			justify-content: space-between;
		}
	
			.note-menu > ul > li:first-child
			{
				position: absolute;
				right: 0px;
				top: 0px;
			}
			
			.note-menu > ul > li:first-child,
			.note-menu > ul > li:first-child span
			{
				display:flex;
				justify-content: center;
				align-items: center;
				width: 45px;
				height: 45px;
			}
			
			.note-menu > ul > li img
			{
				width: 35px;
				height: 35px;
			}

.detail-title
{
	padding-left: 2.5%;
}
