@charset "UTF-8";

.main
{
	width: 100%;
	min-height: 465px;
	background: #fff;
	padding-top: 75px;
}

	.root-container
	{
		padding-top: 10px;
		padding-bottom: 10px;
		width: inherit;
		min-height: inherit;
	}

.hidden
{
	display: none;
}
